<!DOCTYPE html>
<html>
<title>Gesoc09 - Nueva operacion de egreso</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" href="css/operaciones.css">
<link rel="stylesheet" href="css/search.bar.css">

<script src="https://kit.fontawesome.com/27517fada0.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="js/generales.js"></script>
<script src="js/categoria.js"></script>
<script src="js/detallesDeEgreso.js"></script>
<script src="js/documentoComercial.js"></script>
<script src="js/filtrarEnBarraDeBusqueda.js"></script>
<script src="js/proveedor.js"></script>
<script src="js/medioDePago.js"></script>

<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-large" style="background:#1aa3cfff; color:white; z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>&nbsp;Menu</button>
  <span class="w3-bar-item w3-right">
    Gesoc 09&nbsp;

    <img src="img/bandera.svg" class="w3-circle w3-margin-right" style="width:55px">
  </span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="img/img_avatar3.png" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">

        <div id="nombreUsuario"><strong>Nombre: {{usuarioId}}</strong></div>
        <div id="nombreEntidad"><strong>Entidad: {{nombreFicticioOrganizacion}}</strong></div>

    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Menu</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>&nbsp;Close Menu</a>

    <a href="/operacionesEgreso" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>&nbsp;Egresos</a>
    <a href="/operacionesIngreso" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>&nbsp;Ingresos</a>
    <!-- <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-book"></i>&nbsp;Documentos comerciales</a> -->
    <a href="/bandejaDeMensajes" class="w3-bar-item w3-button" {{#if usuarioRevisor}} {{else}} style="display: none" {{/if}}><i class="fa fa-envelope"></i>&nbsp;Bandeja de mensajes</a>

  </div>
  <div class="w3-bar-block" style="margin-top: 20px">
  <a href="/cerrarSesion" class="w3-bar-item w3-button"><i class="fa fa-power-off"></i>&nbsp;<b>Cerrar sesión</b></a>
</div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:310px;margin-top:43px;">

  <!-- Header -->
  <header class="titulo" style="padding-top:22px">
      {{#if egreso}}  <a href="/operacionesEgreso" class="btn-border-blue fuente"><i class="fa fa-toggle-left"></i> Atrás</a>{{/if}}
      <b><i class="fa fa-bank fa-fw"></i>{{#if egreso}} Operacion de Egreso - Id {{egreso.id}} {{else}} Nueva Operacion de Egreso {{/if}}</b>
  </header>

   <!-- Formulario -->
    <form class="" {{#if egreso}} action="/egresoEditar?egresoId={{egreso.id}}" {{else}} action="/egreso" {{/if}} method="post">

        <label for="fecha">Fecha</label>
        <input id="fecha" name="fecha" type="date"  class="input-formulario" {{#if egreso}} value="{{egreso.fecha}}" {{/if}} required>
        <br><br>
        <label for="cantidadEsperadaPresupuestos">Cant. Presupuestos Req.</label>
        <input id="cantidadEsperadaPresupuestos" name="cantidadEsperadaPresupuestos" type="number" class="input-formulario" {{#if egreso}} value="{{egreso.cantidadEsperadaPresupuestos}}" {{/if}} required>
        <br><br>

<!-- !PROVEEDOR! -->
        <label for="Proveedor">Proveedor</label>
        <input id="proveedor" readonly name="proveedor" type="text" class="input-formulario" {{#if egreso}} value="{{egreso.proveedor.nombreApellido_RazonSocial}}" {{/if}} required>
        <a name="searchProveedor" class=" btn btn-search" onclick="mostrarBuscarProveedor()"><i class="fas fa-search"></i></a>
        <input type="hidden" id="proveedorId" name="proveedorId" {{#if egreso}} value="{{egreso.proveedor.id}}" {{/if}}>

        <div class="dropdown">
            <div id="buscarProveedor" class="dropdown-content">
                <input type="text" placeholder="Search.." id="inputBuscarProveedor" onkeyup="filterFunction('buscarProveedor','inputBuscarProveedor')">

                {{#each provedoores}}
                    <a onClick="llenarProveedor('{{nombreApellido_RazonSocial}}', '{{id}}')">{{nombreApellido_RazonSocial}}</a>
                {{/each}}

            </div>
        </div>
        <br><br>

<!-- !MEDIO DE PAGO! -->
        <label>Descripcion del pago</label>
        <input id="descripcionDelPago" readonly name="descripcionDelPago" type="text" class="input-formulario" {{#if egreso}} value="{{egreso.medioDePago.descMercadoPago}}" {{/if}} required>

            <a name="searchMedioDePago" class=" btn btn-search" onclick="mostrarBuscarMedioDePago()"><i class="fas fa-search"></i></a>
                <div class="dropdown">
                    <div id="buscarMedioDePago" class="dropdown-content">
                        <input type="text" placeholder="Search.." id="inputBuscarMedioDePago" onkeyup="filterFunction('buscarMedioDePago','inputBuscarMedioDePago')">
                        {{#each mediosDePago}}
                            <a onClick="llenarMedioDePago('{{idMercadoPago}}', '{{descMercadoPago}}', '{{tipoMercadoPago}}', '{{id}}')">{{descMercadoPago}}</a>
                        {{/each}}
                    </div>
                </div>

        <br><br>
        <label>Tipo de pago</label>
        <input id="tipoDePago" name="tipoDePago" type="text" class="input-formulario" {{#if egreso}} value="{{egreso.medioDePago.tipoMercadoPago}}" {{/if}} readonly>
        <br><br>
        <label>Numero identificador del Medio de Pago</label>
        <input id="numeroIdentificadorDelMedio" name="numeroIdentificadorDelMedio" type="number" class="input-formulario" {{#if egreso}} value="{{egreso.numeroIdentificadorMedioPago}}" {{/if}} required>
        <br><br>
        <input type="hidden" id="medioDePagoIdDB" name="medioDePagoIdDB" {{#if egreso}} value="{{egreso.medioDePago.id}}" {{/if}}>

<!-- !CATEGORIAS! -->
        <h3 style="margin-bottom: 5px;margin-left: 10px">Categorias
            <a name="searchCategoria" class=" btn btn-search" onclick="mostrarBuscarCategorias()"><i class="fas fa-search"></i></a>
        </h3>
        <input type="hidden" id="cantidadDeCategoriasNuevas" name="cantidadDeCategoriasNuevas" value="0">
        <input type="hidden" id="categoriasExistentesEliminadas" name="categoriasExistentesEliminadas">

        <div class="dropdown">
            <div id="buscarCategoria" class="dropdown-content">
                <input type="text" placeholder="Search.." id="inputBuscarCategoria" onkeyup="filterFunction('buscarCategoria','inputBuscarCategoria')">
                {{#each categorias}}
                    <a onClick="agregarCategoria('{{descripcion}}', '{{id}}')">{{descripcion}}</a>
                {{/each}}
            </div>
        </div>

        <div id="seccionCategorias">
            {{#if egreso}}
                {{#each egreso.categoriasAsociadas}}
                    <div>
                        <input id="categoria{{id}}" name="categoria{{id}}" class="w3-tag w3-padding w3-small w3-center w3-yellow" type="text" readonly value="{{descripcion}}">
                        <a class="btn btn-search" id="eliminarCategoria{{id}}" onclick="eliminarCategoria({{id}})"><i class="fas fa-close"></i></a>
                    </div>
                {{/each}}
            {{/if}}
        </div>
        <br><br>

<!-- !DETALLE EGRESO! -->
      <h3 style="margin-bottom: 5px;margin-left: 10px">Detalle Egreso
          <button type="button" name="buttonAgregarItem" class="btn-border-blue fuente" onclick="agregarItem()"><i class="fa fa-plus-circle" style="margin-bottom:25px;"></i></button></h3>
      <input type="hidden" id="cantidadDetalles" name="cantidadDetalles">
        {{#if egreso}}
            <label>Valor Total: {{egreso.valorTotal}}</label>
            <br><br>
        {{/if}}

      <table class="tabla" id="detalleEgresos" name="detalleEgresos">
        <thead>
          <th><i class=""></i> Id </th>
          <th><i class=""></i> Item </th>
          <th><i class=""></i> Cantidad </th>
          <th><i class=""></i> Valor Total </th>
          <th><i class="fas fa-tools"></i> Acciones</th>
        </thead>
        <tbody id="tbDetalles">
        {{#if egreso}}
            {{#each egreso.detalle}}
                <tr id="rowItemExistente{{id}}" name="rowItemExistente{{id}}">
                    <td><input id="valorItemExistenteId{{id}}" name="valorItemExistenteId{{id}}" type="number" readonly value="{{id}}"></td>
                    <td><input id="valorItemExistenteDescripcion{{id}}" name="valorItemExistenteDescripcion{{id}}" type="text" value="{{item.descripcion}}"></td>
                    <td><input id="valorItemExistenteCantidad{{id}}" name="valorItemExistenteCantidad{{id}}" type="number" value="{{cantidad}}"></td>
                    <td><input id="valorItemExistenteValor{{id}}" name="valorItemExistenteValor{{id}}" type="number" value="{{valorTotal}}"></td>
                    <td>
                        <a class="btn btn-border btn-border-blue" id="botonBorrarItem{{id}}" onclick="borrarItem({{id}})"><i class="fas fa-close"></i></a>
                    </td>
                  </tr>
            {{/each}}
        {{/if}}
        </table>
        <br>

      <!-- !FIN Detalle del Egreso! -->
      <br>
      <div align="left" width="90%">
        {{#if egreso}}
        {{else}}
            <input class="btn-guardar" type="submit" value="Guardar">
        {{/if}}
      </div>
      <br>
    </form>
  <br><br><br>

    <!-- Footer -->

<head>
 <style type ="text/css" >
   .footer{
       position: fixed;
       text-align: center;
       bottom: 0px;
       width: 100%;
   }
</style>
</head>
<body>
    <div class="footer">GESOC - Grupo 09</div>
</body>

<!-- ================= MODAL AGREGAR DETALLE ================== -->
<div class="modalAgregarDetalle modal" id="modalAgregarDetalle">
    <div class="modalContent">
        <h3>Agregar nuevo detalle</h3>
        <form>
            <input type="text" readonly name="descripcionItem" class="input-formulario" id="descripcionItem" placeholder="Item">

                    <a name="searchItem" class=" btn btn-search" onclick="mostrarBuscarItem()"><i class="fas fa-search"></i></a>

                    <div class="dropdown">
                        <div id="buscarItem" class="dropdown-content">
                            <input type="text" placeholder="Search.." id="inputBuscarItem" onkeyup="filterFunction('buscarItem','inputBuscarItem')">
                            <div id="itemsDelProveedor">

                            </div>

                        </div>
                    </div>



            <input type="text" name="cantidadItem" id="cantidadItem" placeholder="Cantidad">
            <input type="text" name="valorItem" id="valorItem" placeholder="Valor total">
        </form>
        <br>
        <div class="">
            <button type="button" name="button" class="btn-verde" onclick="guardarNuevoItem()">Agregar</button>
            <button type="button" name="button" class="btn-cancelar" onclick="cerrarModalDetalles()">Cerrar</button>
        </div>
    </div>
</div>

</body>
</html>
