<!DOCTYPE html>
<html>
<title>Gesoc09 - Nueva operacion de egreso</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/home.css">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="js/generales.js"></script>

<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>&nbsp;Menu</button>
  <span class="w3-bar-item w3-right">
    Gesoc 09&nbsp;

    <img src="img/bandera.svg" class="w3-circle w3-margin-right" style="width:55px">
  </span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="img/img_avatar3.png" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">

      <span style="vertical-align: center;text-align: center"><strong>
        Nombre
        <br>
        Entidad
        </strong></span><br>


    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Menu</h5>
  </div>
  <div class="w3-bar-block">
    <a href="" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>&nbsp;Close Menu</a>

    <a href="" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>&nbsp;Operaciones</a>
    <a href="" class="w3-bar-item w3-button w3-padding"><i class="fa fa-book"></i>&nbsp;Documentos comerciales</a>
    <a href="" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i>&nbsp;Bandeja de mensajes</a>

  </div>
  <div class="w3-bar-block" style="margin-top: 20px">
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-power-off"></i>&nbsp;<b>Cerrar sesión</b></a>

</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:310px;margin-top:43px;">

  <!-- Header -->
  <header class="titulo" style="padding-top:22px">
    <b><i class="fa fa-bank fa-fw"></i>Operación de Egreso - Nuevo</b>
  </header>

   <!-- Formulario -->
    <form class="" action="index.html" method="post">
      <label for="IDEgreso">ID de Egreso</label>
      <input id="IDEgreso" name="IDEgreso" type="number"  class="input-formulario-readonly" readonly>
      <br><br>
      <label for="organizacion">Organización</label>
      <input id="organizacion" name="organizacion" type="number" class="input-formulario">
      <br><br>
      <label for="fecha">Fecha</label>
      <input id="fecha" name="fecha" type="date"  class="input-formulario">
      <br><br>
      <label for="documentoComercial">Documento Comercial</label>
      <input id="documentoComercial" name="documentoComercial" type="number" class="input-formulario">
      <a href="#" name="searchDocumentoComercial" class=" btn btn-search"><i class="fas fa-search"></i></a>
      <br><br>
      <label for="Proveedor">Proveedor</label>
      <input id="proveedor" name="proveedor" type="number" class="input-formulario">
      <a href="#" name="searchProveedor" class=" btn btn-search"><i class="fas fa-search"></i></a>
      <br><br>
      <label for="cantidadEsperadaPresupuestos">Cant. Presupuestos Req.</label>
      <input id="cantidadEsperadaPresupuestos" name="cantidadEsperadaPresupuestos" type="number" class="input-formulario">
      <br><br>
      <label>Medio de Pago</label>
      <input id="medioDePago" name="medioDePago" type="number" class="input-formulario">
      <a href="#" name="searchMedioDePago" class=" btn btn-search"><i class="fas fa-search"></i></a>
      <br><br>
      <label>Nro. Identif. Medio de Pago</label>
      <input id="numeroIdentificadorMedioPago" name="numeroIdentificadorMedioPago" type="number" class="input-formulario">
      <br><br>
      <label for="valorTotal">Valor Total</label>
      <input id="valorTotal" name="valorTotal" type="number" step="0.01" class="input-formulario">
      <br><br>
      <!-- !Categorias de Operacion! -->
      <div>
        <h3 style="margin-bottom: 5px;margin-left: 10px">Categorias
          <a href="#" class="btn-border-blue fuente"><i class="fa fa-plus-circle" style="margin-bottom:25px;"></i> Agregar Categoria</a></h3>
        <div class="scroll-formularios"">
          <table class="tabla" id="categorias" name="categorias">
            <thead>
              <th><i class=""></i> Id </th>
              <th><i class=""></i> Categoria </th>
              <th><i class="fas fa-tools"></i> Acciones</th>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Categoria1</td>
                <td>
                  <!--<a href="" name="button" style="margin:0px;" class="btn btn-border btn-border-blue" ><i class="far fa-eye"></i></a>-->
                  <a href="" name="button" class=" btn btn-edit"><i class="fas fa-edit"></i></a>
                  <button type="button" name="button" class="btn" onclick="confirmarEliminacion('{{id}}')"><i class="fas fa-trash"></i></button>
                </td>
              </tr>
          </table>
          <br>
        </div>
      </div>
      <!-- !FIN Categorias! -->
      <br><br>
      <!-- !Presupuestos! -->
      <div>
        <h3 style="margin-bottom: 5px;margin-left: 10px">Presupuestos
          <a href="" class="btn-border-blue fuente"><i class="fa fa-plus-circle" style="margin-bottom:25px;"></i> Agregar Presupuesto</a></h3>
        <div class="scroll-formularios"">
          <table class="tabla" id="presupuestos" name="presupuestos">
            <thead>
              <th><i class=""></i> Id </th>
              <th><i class=""></i> Proveedor </th>
              <th><i class=""></i> Valor Total </th>
              <th><i class="fas fa-tools"></i> Acciones</th>
            </thead>
            <tbody>
              <tr>
                <td>Presupuesto 4214123</td>
                <td>Prove1</td>
                <td>100,00</td>
                <td>
                  <!--<a href="/usuario/{{id}}" name="button" style="margin:0px;" class="btn btn-border btn-border-blue" ><i class="far fa-eye"></i></a>-->
                  <a href="/usuario/{{id}}" name="button" class=" btn btn-edit"><i class="fas fa-edit"></i></a>
                  <button type="button" name="button" class="btn" onclick="confirmarEliminacion('{{id}}')"><i class="fas fa-trash"></i></button>
                </td>
              </tr>
          </table>
          <br>
        </div>
      </div>
      <!-- !FIN Presupuestos! -->
      <!-- !Detalle del Egreso! -->
      <div>
        <h3 style="margin-bottom: 5px;margin-left: 10px">Detalle Egreso
        <a href="" class="btn-border-blue fuente"><i class="fa fa-plus-circle" style="margin-bottom:25px;"></i> Agregar Item</a></h3>

        <div class="scroll-formularios"">
          <table class="tabla" id="detalleEgresos" name="detalleEgresos">
            <thead>
              <th><i class=""></i> Id </th>
              <th><i class=""></i> Item </th>
              <th><i class=""></i> Cantidad </th>
              <th><i class=""></i> Valor Total </th>
              <th><i class="fas fa-tools"></i> Acciones</th>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Item1</td>
                <td>2</td>
                <td>100,00</td>
                <td>
                  <!--<a href="" name="button" style="margin:0px;" class="btn btn-border btn-border-blue" ><i class="far fa-eye"></i></a>-->
                  <a href="" name="button" class=" btn btn-edit"><i class="fas fa-edit"></i></a>
                  <button type="button" name="button" class="btn" onclick="confirmarEliminacion('{{id}}')"><i class="fas fa-trash"></i></button>
                </td>
              </tr>
            </table>
            <br>
        </div>
      </div>
      <!-- !FIN Detalle del Egreso! -->
      <br>
      <div align="left" width="90%">
      <input class="btn-guardar" type="submit" value="Guardar">
      </div>
      <br>
    </form>
  <br><br><br>

    <!-- Footer -->

<head>
 <style type ="text/css" >
   .footer{
       position: fixed;
       text-align: center;
       bottom: 0px;
       width: 100%;
   }
</style>
</head>
<body>
    <div class="footer">GESOC - Grupo 09</div>
</body>


<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
