<!DOCTYPE html>
<html>
<title>Gesoc09 - Operaciones de Ingreso</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/operaciones.css">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="js/generales.js"></script>
    <script src="js/operaciones.js"></script>

<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>&nbsp;Menu</button>
  <span class="w3-bar-item w3-right">
    Gesoc 09&nbsp;

    <img src="img/bandera.svg" class="w3-circle w3-margin-right" style="width:55px">
  </span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="img/img_avatar3.png" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">

      <span style="vertical-align: center;text-align: center"><strong> 
        Nombre
        <br>
        Entidad
      </strong></span><br>

     
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Menu</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>&nbsp;Close Menu</a>

    <a href="/operacionesEgreso?usuarioId={{usuarioId}}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>&nbsp;Egresos</a>
    <a href="/operacionesIngreso?usuarioId={{usuarioId}}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>&nbsp;Ingresos</a>
    <!-- <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-book"></i>&nbsp;Documentos comerciales</a> -->
    <a href="/bandejaDeMensajes?usuarioId={{usuarioId}}" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i>&nbsp;Bandeja de mensajes</a>

  </div>
  <div class="w3-bar-block" style="margin-top: 20px">
  <a href="/login" class="w3-bar-item w3-button"><i class="fa fa-power-off"></i>&nbsp;<b>Cerrar sesi칩n</b></a>

</div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:310px;margin-top:43px;">

  <!-- Header -->
  <header class="titulo" style="padding-top:22px">
    <b><i class="fa fa-bank fa-fw"></i> Operaciones de Ingreso</b>
  </header>

  <div id="wrap">
    <div id="window1" class="window" >

        <!-- !Ingresos! --> 

          <h3 style="margin-bottom: 0px;margin-left: 10px">Ingresos sin vincular 
      <a href="" class="btn-border-blue fuente"><i class="fa fa-toggle-right"></i> Vincular</a>
          </h3>
                
      
      <div id="divTablaGrande">
      <table class="tabla" id="tabla2">
        <tbody>
        
        <tr>
            <td style="width: 20%">游무</td>
            <td>Ingreso 4214123</td>
        </tr>
                <tr>
            <td style="width: 20%">游무</td>
            <td>Ingreso 4214123</td>
        </tr>
                <tr>
            <td style="width: 20%">游무</td>
            <td>Ingreso 4214123</td>
        </tr>
                <tr>
            <td style="width: 20%">游무</td>
            <td>Ingreso 4214123</td>
        </tr>
                <tr>
            <td style="width: 20%">游무</td>
            <td>Ingreso 4214123</td>

        </tr>
                <tr>
            <td style="width: 20%">游무</td>
            <td>Ingreso 4214123</td>
        </tr>
                <tr>
            <td style="width: 20%">游무</td>
            <td>Ingreso 4214123</td>
        </tr>

      
        </tbody>
      </table>
    </div>

      

       </div>

    
    <!-- !Operaciones! --> 

    <div id="window2" class="window">
      
      <h3 style="margin-bottom: 0px;margin-left: 10px">Listado de ingresos
        <a href="" class="btn-border-blue fuente"><i class="fa fa-plus-circle"></i> Nueva operacion</a>
        <button onclick="" class="btn-border-blue fuente"><i class="fa fa-filter"></i></button>
        
      </h3>
      
      
         
        <div id="filtros" style="display: none"> 
          Filtros ac치
        </div>
      
      
      <div id="divTablaGrande">

      <table class="tabla" id="tabla3">
        <thead>
          <th><i class=""></i> Tipo</th>
          <th><i class=""></i> Id </th>
          <th><i class=""></i> Fecha </th>

          <th><i class="fas fa-tools"></i> Acciones</th>
        </thead>
        <tbody>
        
        <tr>
            <td>游무</td>
            <td>Ingreso 4214123</td>
            <td>Fecha</td>
            
            
            <td>
                <!--<a href="/usuario/{{id}}" name="button" style="margin:0px;" class="btn btn-border btn-border-blue" ><i class="far fa-eye"></i></a>-->
                <a href="/usuario/{{id}}" name="button" class=" btn btn-edit"><i class="fas fa-edit"></i></a>
                 <button type="button" name="button" class="btn" onclick="confirmarEliminacion('{{id}}')"><i class="fas fa-trash"></i></button>
            </td>
        </tr>
                <tr>
            <td>游무</td>
            <td>Ingreso 4214123</td>
            <td>Fecha</td>
            
            
            <td>
                <!--<a href="/usuario/{{id}}" name="button" style="margin:0px;" class="btn btn-border btn-border-blue" ><i class="far fa-eye"></i></a>-->
                <a href="/usuario/{{id}}" name="button" class=" btn btn-edit"><i class="fas fa-edit"></i></a>
                 <button type="button" name="button" class="btn" onclick="confirmarEliminacion('{{id}}')"><i class="fas fa-trash"></i></button>
            </td>
        </tr>
                <tr>
            <td>游무</td>
            <td>Ingreso 4214123</td>
            <td>Fecha</td>
            
            
            <td>
                <!--<a href="/usuario/{{id}}" name="button" style="margin:0px;" class="btn btn-border btn-border-blue" ><i class="far fa-eye"></i></a>-->
                <a href="/usuario/{{id}}" name="button" class=" btn btn-edit"><i class="fas fa-edit"></i></a>
                 <button type="button" name="button" class="btn" onclick="confirmarEliminacion('{{id}}')"><i class="fas fa-trash"></i></button>
            </td>
        </tr>
                <tr>
            <td>游무</td>
            <td>Ingreso 4214123</td>
            <td>Fecha</td>
            
            
            <td>
                <!--<a href="/usuario/{{id}}" name="button" style="margin:0px;" class="btn btn-border btn-border-blue" ><i class="far fa-eye"></i></a>-->
                <a href="/usuario/{{id}}" name="button" class=" btn btn-edit"><i class="fas fa-edit"></i></a>
                 <button type="button" name="button" class="btn" onclick="confirmarEliminacion('{{id}}')"><i class="fas fa-trash"></i></button>
            </td>
        </tr>
       
        </tbody>
      </table>
      </div>
    </div>


</div>
</div>



    <!-- Footer -->

<head>
 <style type ="text/css" >
   .footer{ 
       position: fixed;     
       text-align: center;    
       bottom: 0px; 
       width: 100%;
   }  
</style>
</head>
<body>
    <div class="footer">GESOC - Grupo 09</div>
</body>


<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
